# Logic Building Task â€“ 1

1. User Login Check
Problem Statement:
Given a username and password, check whether login is successful.
username = "admin"
password = "1234"

In [6]:
username = "admin"
password = "1234"

in_user = input("Please enter your username: ")
in_pass = input("Please enter your password: ")

if in_user == username and in_pass == password :
    print ("login Successful")
else :
    print("Not valid password")

login Successful

2. Pass / Fail Analyzer
Problem Statement:
Analyze student results.
marks = [45, 78, 90, 33, 60]

In [13]:
marks = [45,78,90,33,60]
for i in marks:
    if (i>=50):
        print("pass")
    else :
        print("fail")

fail
pass
pass
fail
pass

3. Simple Data Cleaner
Problem Statement:
Clean and standardize user names.
names = [" Alice ", "bob", " CHARLIE "]

Requirements:
Remove extra spaces
Convert all names to lowercase
Print the cleaned list

In [20]:
names = [" Alice","bob","CHARLIE"]
import pandas as pd
names = pd.DataFrame({"name":names})
names

      name
0    Alice
1      bob
2  CHARLIE

In [ ]:
names["name"] = names["name"].str.lower()

In [25]:
names

      name
0    alice
1      bob
2  charlie

In [26]:
names["name"] = names["name"].str.replace(" ","")

In [27]:
names

      name
0    alice
1      bob
2  charlie

In [30]:
new = names["name"].tolist()

In [31]:
new

['alice', 'bob', 'charlie']

4 .Message Length Analyzer
Problem Statement:
Analyze message sizes.
messages = ["Hi", "Welcome to the platform", "OK"]

Requirements:
Print the length of each message
Flag messages longer than 10 characters

In [58]:
message = ["hi","welcome to the platform","ok"]
for i in message:
  leng = len(i)
  print("Message: ",i)
  print("leng",leng)
if leng >10 :
  print("Longer the 10 char: ")
else :
    print("Tik hain")
print()

Message:  hi
leng 2
Message:  welcome to the platform
leng 23
Message:  ok
leng 2
Tik hain

5. Error Message Detector
Problem Statement:
Detect error messages from system logs.
logs = ["INFO", "ERROR", "WARNING", "ERROR"]

Requirements:
Count the number of "ERROR" entries

In [68]:
logs = ["INFO","ERROR","WARNING","ERROR"]
total_count = 0;
for i in logs:
    if i == "ERROR":
       
        print (i)
        total_count +=1
    else:
        print("Not ERROR")

print (total_count)

Not ERROR
ERROR
Not ERROR
ERROR
2