In [1]:
import pandas as pd
import numpy as np

# Problem 1: Unique Words in a Sentence

In [2]:
str = input("Enter any string").split()
result = set(str)
print(result)

{'hello'}

# 2: Highest Salary from Employee Data

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

In [4]:
highest_emp = max(employees, key=employees.get)
highest_salary = employees[highest_emp]
print(highest_emp,":",highest_salary)

Ravi : 75000

# 3: Find Maximum and Minimum Values

In [5]:
numbers = [45, 22, 89, 10, 66]
max(numbers)
min(numbers)

10

#  4: Count Products Above a Price Threshold

In [6]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        print(price)
        count +=1
print("Products above 1000",count)

1200
1500
Products above 1000 2

# 5: Calculate Attendance Percentage

In [17]:
attendance = ["P", "P", "A", "P", "P"]
total = len(attendance)
print(total)
total_p = attendance.count("P")
print((total_p / total) * 100)

5
80.0

# 6: Remove Duplicate Phone Numbers

In [20]:
phone_numbers = [9876543210, 9123456789, 9876543210]
new = set(phone_numbers)
print(new)

{9876543210, 9123456789}

# 7: Count Character Frequency

In [ ]:
str = input("Enter any Char")
d = {}
for i in str:
    if str not in d:
        d[str]= 1
    else:
        d[str]+=1
print(d)

{'kumar ghosh': 11}